/* GENERAL STYLES */

html {
  font-size: 16px;
  overflow-x: hidden;
  background-color: black;
}

button {
  margin: 0;
}

a {
  color: #A3A3A3;
}

a:hover {
  color: gray;
}

a:visited {
  color: #A3A3A3;
}

/* UTILITIES */

.align-items-center {
  align-items: center;
}

.basis-33 {
  flex-basis: 33.33%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-66 {
  flex-basis: 66.66%;
}

.basis-full {
  flex-basis: 100%;
}

.button-2 {
  color: gray;
  background-color: transparent;
  border-style: none;
  border-width: 0px;
  box-shadow: none;
  padding: 0;
}

.button-2:hover {
  cursor: pointer;
  color: gray;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.font-bold {
  font-weight: bold;
}

.gray-border {
  border-bottom: 0.5px solid gray;
}

.gray-border-y {
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}

.gray-border-bottom {
  border-bottom: 0.5px solid gray;
}

.gray-border-right {
  border-right: 0.5px solid gray;
}

.gray-text {
  /* color: #D1D1D1; */
  color: #A3A3A3;
}

.height {
  height: 215px;
}

.justify-content-center {
  justify-content: center;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-4 {
  letter-spacing: 4px;
}

.mr-1 {
  margin-right: 0.5rem;
}

.my-0 {
  margin: 0 auto;
}

.text-base {
  font-size: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.shadow-2 {
  box-shadow: 0.5px 2.5px 20px 5px rgb(0, 0, 0, 0.3);
}

.width {
  width: 300px;
}

/* SPECIFIC CLASSES */

#root {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  background-image: none;
  letter-spacing: 1px !important;
  background-size: cover;
  transition: background-image 2s linear, background-color 2s linear;
}

.App {
  border-radius: 2rem;
  margin-bottom: 0rem;
  padding: 0 0.5rem;
}

#wind-outer-container {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.75rem;
}

#brand-text-container {
  flex-wrap: wrap;
  background-color: #1f1f1f;
  width: 100vw;
  height: 3rem;
  align-content: center;
}

#brand-with-copyright {
  font-size: 0.75rem;
  margin: 0 auto;
}

#weather-api-credit {
  font-size: 0.75rem;
}

#brand-text {
  height: 1rem;
}

.extra-info-sections {
  display: none;
  font-size: 0.75rem;
  border-radius: 1rem;
  background-color: transparent;
  margin-bottom: 0.75rem;
  transition: background-color 2s ease-in;
  height: max-content;
}

#hourly-forecast-container {
  display: none;
  overflow-x: scroll;
  padding: 0.75rem;
  margin-bottom:  0.75rem;
}

#daily-forecast-container {
  flex-wrap: wrap;
  flex-direction: column;
}

.daily-forecast-day {
  margin-bottom: 0.25rem;
}

.daily-forecast-span {
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.25rem 0;
}

.pipe-separator {
  margin: 0 0.3rem;
}

/* Hide scrollbar: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
#hourly-forecast-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#hourly-forecast-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hourly-forecast-span {
  width: 3rem;
  margin-right: 0.6rem;
}

.hourly-forecast-span:last-of-type {
  margin-right: 0;
}

.hourly-forecast-hour {
  width: 3rem;
  margin-bottom: 0.25rem;
}

.hourly-forecast-icon {
  height: 1.5rem;
  margin-bottom: 0.25rem;
}

.daily-forecast-icon {
  height: 1.5rem;
  margin-right: 0.25rem;
}

.wind-info {
  display: inline;
}

#autocomplete-div {
  height: 100vh;
  width: 100vw;
}

#autocomplete {
  width: 260px;
  height: 2rem;
  margin: 4rem auto;
  border-radius: 1.5rem;
  border-style: none;
  padding: 0 1rem;
}

#main-info-container {
  height: calc(100vh - 3rem);
}

#app-container {
  text-align: center;
  flex-direction: column;
  min-width: 100vw;
  filter: blur(0px);
}

#app {
  text-align: center;
  flex-direction: column;
  background-color: transparent;
}

#navbar-container {
  background-color: #1F1F1F;
  width: 100vw;
  height: 3rem;
  filter: blur(0px);
  transition: background-color 2s linear;
  margin-bottom: 1.5rem;
  z-index: 10;
}

#navbar-container-2 {
  margin: 0 auto;
  padding: 1rem;
}

#invalid-location-feedback {
  height: 1rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 4rem;
  right: 0;
}

.temp-unit-button {
  justify-self: center;
  margin-right: 0;
}

#temp-unit-span {
  justify-self: center;
}

#weather-loading {
  height: calc(100vh - 7.5rem);
  margin: 0 auto !important;
}

#location {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 6px;
  margin-top: auto;
  margin-bottom: auto;
}

#location-text {
  padding-bottom: 0.4rem;
}

#location-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

#change-location-button {
  background-color: transparent;
  border-style: none;
  border-width: 0px;
  box-shadow: none;
  letter-spacing: 1px;
}

#change-location-button:hover, #close-location-search:hover {
  color: gray;
  cursor: pointer;
}

#close-location-search {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background-color: transparent;
  border-style: none;
  border-width: 0px;
  box-shadow: none;
}

#location-search-div {
  display: none;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1F1F1F;
  z-index: 10;
  touch-action: none;
}

#weather-info-container {
  display: none;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
}

#first-col, #second-col {
  justify-items: center;
}

#temp-div {
  flex-wrap: wrap;
}

#temp-unit, #temp-span {
  font-size: 4rem;
  background-color: transparent;
}

#icon {
  color: transparent;
  height: 6rem;
  margin: 0.5em 0;
  transition: color 2s linear;
}

#feels-like {
  margin-bottom: 1rem;
}

#sunrise-sunset-container {
  flex-wrap: wrap;
}

.mask {
  overflow-y: hidden;
}

.sunrise-sunset-icon {
  height: 4rem;
}

#sunset-icon {
  opacity: 100%;
}

.uv-air-number {
  font-size: 2rem;
  margin: 1rem 0;
}

#uv-air-container {
  margin-bottom: 1.5rem;
}

#uv-number-container, #air-quality-number-container {
  margin: 0 auto;
  border-radius: 20rem;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.25rem;
  background: transparent;
}

.uv-air-number {
  border-radius: 20rem;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 auto !important;
  background-color: #1f1f1f;
}

#extra-info-section {
  margin-bottom: 0.75rem;
  background-color: #1F1F1F;
  transition: background-color 2s linear;
}

#extra-info-container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

#location-container {
  display: none;
}

.extra-info-header {
  font-weight: bold;
}

#wind-header {
  padding-bottom: 0.5rem;
  margin: 0.5rem 0;
}

.wind-info-header {
  font-weight: normal;
  margin-top: 0;
}

#wind-direction-icon {
  transform: rotate(0);
  transition: transform 1s ease;
}

.extra-info-icons {
  height: 2rem;
}

#droplet {
  color: #8BC6FD;
}

#high-low, #description-text, .button-2 {
  margin: 0;
}

/* ANIMATIONS */

.collapse {
  animation-name: collapse;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes collapse {
  0% { width: 325px; opacity: 100%; }
  100% { width: 0px; opacity: 0%; }
}

.expand {
  animation-name: expand;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes expand {
  0% { width: 0px; opacity: 0%; }
  100% { width: 300px; opacity: 100%; }
}

.spin-once {
  animation-name: spin-once;
  animation-iteration-count: 1;
  animation-duration: 5s;
  animation-timing-function: ease;
}

@keyframes spin-once {
  0% { transform: rotate(0deg); }
  /* 50% { transform: rotate(180deg); } */
  100% { transform: rotate(360deg); }
}

.sunrise-animation {
  animation-name: sunrise;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 4s;
}

@keyframes sunrise {
  0% { transform: translatey(4rem); opacity: 0%; }
  50% { transform: translatey(0rem); opacity: 100%; }
  100% { transform: translatey(0rem); opacity: 100%; }
}

.sunset-animation {
  animation-name: sunset;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 4s;
}

@keyframes sunset {
  0% { transform: translatey(0rem); opacity: 100%; }
  50% { transform: translatey(0rem); opacity: 100%; }
  100% { transform: translatey(4rem); opacity: 0%; }
}

#visibility-icon {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

/* @keyframes blink {
  0% { filter: brightness(1); }
  25% { filter: brightness(1); }
  30% { filter: brightness(0); }
  35% { filter: brightness(1); }
  100% { filter: brightness(1); }
} */

/* MEDIA QUERIES */

@media (min-width: 350px) {
  .width {
    width: 330px;
  }
  #high-text, #low-text {
    display: inline;
  }
  #autocomplete {
    width: 315px;
  }
}

@media (min-width: 375px) {
  .width {
    width: 345px;
  }
  #high-text, #low-text {
    display: inline;
  }
}

@media (min-width: 400px) {
  .width {
    width: 370px;
  }
  #high-text, #low-text {
    display: inline;
  }
  #autocomplete {
    width: 340px;
  }
}

/* 730, 315 */
@media (min-width: 540px) {
  html {
    font-size: 17px;
  }
  .width {
    width: 450px;
  }
  .height {
    height: 250px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
  .width {
    width: 500px;
  }
  .height {
    height: 300px;
  }
  #autocomplete {
    width: 85vw;
    max-width: 675px;
  }
  #temp-unit-button, #display-mode {
    font-size: 2rem;
  }
  #icon {
    height: 8rem;
    margin: 0.5em 0;
    /* filter: drop-shadow(0 1px 20px rgba(0, 0, 0, 0.25)); */
  }
  #location, #location-icon {
    font-size: 2rem;
  }
  #temp-unit, #temp-span {
    font-size: 5rem;
  }
  .App {
    /* margin-bottom: 2rem; */
  }
  #wind-outer-container {
    /* margin-bottom: 1rem; */
  }
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .width {
    width: 600px;
  }
  .height {
    height: 350px;
  }
  #autocomplete {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  /* Hide scrollbar: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* #hourly-forecast-container::-webkit-scrollbar {
    display: block;
  } */

  /* Hide scrollbar for IE, Edge and Firefox */
  /* #hourly-forecast-container {
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  Firefox */
  /* } */
}